.contact{
	width:100%;
	padding:5px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
	vertical-align: middle;
}
body{
	background: #c4c4c4;
}

#header{
	width:100%;
	height: 50px;
}

#logo{
	float:left;
}

#logout{
	float:right;
    -moz-border-radius: 5px 5px 5px 5px;
    background: url("../images/button-bg.png") repeat-x scroll center top transparent;
    border: 1px solid #999999;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    text-align:center;
}
#fraud{
	padding-right:10px;
	vertical-align:-30px;
}

.contact hr {
  border: 1px #000 ;
  border-style: solid;
}
#logout a{
		text-decoration:none;
		color: black;
}
.dummy{
	display:none;
}

		.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
			display: none;
			position: absolute;
			top: 15%;
			left: 15%;
			width: 70%;
			height: 70%;
			padding: 16px;
			border: 8px solid #C4C4C4;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}